.home {
  background-image: url('./nightsky/images/galaxy.jpg');
  background-repeat: no-repeat;
  background-size:100% 100%;
  min-height: 100%;
  width: 100%;
  font: 100 50px/1.3 'Oleo Script', Helvetica, sans-serif;
  color: white;
  text-shadow: 4px 4px 0px rgba(255, 255, 255, 0.3);
  text-align: center;
  margin: 0;
  padding: 10px;
}

h1 {
  position: relative;
  z-index: 3;
}
