<style>
</style>

<div class="parent">
  <!--<div class="wave_buttons">-->
  <!--<div class="wave" (click)="setAlpha($event)"><span>Alpha</span></div>-->
  <!--<div class="wave" (click)="setBeta($event)"><span>Beta</span></div>-->
  <!--<div class="wave" (click)="setTheta($event)"><span>Theta</span></div>-->
  <!--<div class="wave" (click)="setDelta($event)"><span>Delta</span></div>-->
  <!--<div class="wave" (click)="setGamma($event)"><span>Gamma</span></div>-->
  <!--<div class="wave" (click)="setHighest($event)"><span>Highest</span></div>-->
  <!--</div>-->

  <img src="./assets/moon.jpg" class="moon">
  <img src="./assets/stars.png" class="stars">

  <div class="model">
    <svg></svg>

    <div style="align: center">
      <button class="button_data" (click)="connectMuse($event)">Connect</button>
      <button class="button_data" (click)="offLine($event)">Off Line</button>
      <script src="https://cdn.jsdelivr.net/npm/bcijs@1.5.1/dist/bci.min.js"></script>
      <!--<button class="btn-grad">node_count</button>-->
    </div>
  </div>
</div>
