svg {
  width: 650px;
  height: 600px;
  background-image: url('./images/brain_dark.png');
  background-repeat: no-repeat;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.cursor {
  fill: green;
  stroke: green;
  pointer-events: none;
}

.button_data {
  background-color: #79c42f;
  height: 50px;
  width: 20%;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  margin: 0px 0px 0px 50px;
}

.button_data:hover {
  background-position: right center;
}

.wave {
  background-color: #e580cf;
  border-radius: 50%;
  border: none;
  color: white;
  text-align: center;
  padding: 0px 0px 0px 0px;
  font-size: 16px;
  font-family: Arial;
  text-shadow: 0px 0px 0px;
  margin: 30px 0px 0px 100px;
  transition: 0.3s;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  width: 70px;
  height: 70px;
}
.wave span{
  position: relative;
  top: 24px;
}

.wave:hover {
  background-color: #9900cc;
}

.wave_buttons {
  width: 80px;
  float: left;
  margin: 10px;
}

.parent {
  height: 100%;
  width: 100%;
  vertical-align: middle;
  position: relative;
}

.model {
  z-index: 2;
  position: relative;
}

.moon {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
  z-index: 0;
  opacity: 0;
}

.stars {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
  z-index: 1;
  opacity: 0;
}
