
<svg width="1000" height="600"></svg>

<div style="align: center">
  <!--<button class="btn-grad" (click)="startReceive($event)">Start Receive</button>-->
  <!--<button class="btn-grad" (click)="endReceive($event)">End Receive</button>-->
  <button class="btn-grad" (click)="connectMuse($event)">Connect</button>
  <button class="btn-grad" (click)="offLine($event)">Off Line</button>
  <script src="https://cdn.jsdelivr.net/npm/bcijs@1.5.1/dist/bci.min.js"></script>
  <!--<button class="btn-grad">node_count</button>-->
</div>
